html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    height:100%;
    color:#B5FFD9;
    background-color: #170055;
    font-family: Georgia;
}
nav{
height: 80px;
background-color: #AE00FB;
position: fixed;
}

ul{
    padding:0;
    list-style: none;
}
ul li{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin:5px 50px;
    
}
ul li a{
    text-decoration: none;
    cursor: pointer;
    color:#B5FFD9;
    padding: 0 30px;
    background-color: #170055;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}
 ul li a:hover{
    background-color: #AE00FB;
    border-radius: 10px;
    margin: 5px 0;
}
#section1 {
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #170055;
    position: relative;
    height:70px;
    width: 100%;
}
footer p{
    color:#B5FFD9;
    font-size: 14px;
    font-family: Georgia;
    background-color: #AE00FB;

}


